{% extends 'home/home.html' %}
{% block head %}
<title>Edit Profile</title>
{% endblock %}

{% block content %}

<div>

    <form method="post" action="{% url 'edit_profile' %}">
        {% csrf_token %}

        <p>Username:    {{ user.username }}</p>
        <p>Email:       {{ user.email }}</p>
        <p>First Name:  {{ user_form.first_name }}</p>
        <p>Last Name:   {{ user_form.last_name }}</p>
        <p>Interests:   {{ profile_form.interests }}</p>
        <p>Affiliation: {{ profile_form.affiliation }}</p>
        <p>Facebook:    {{ profile_form.facebook }}</p>
        <p>Linked In:   {{ profile_form.linked_in }}</p>

        
        <button type="submit" value="submit">Submit</button>
    </form>
</div>

{% endblock %}