#tweet{
    width : 500px;
    margin-left: 32%;
    border-style: solid;
    border-width:2px;
    border-color: #00A648;
}
#interval{
    height: 20px;    
}
#tweet_image{
    margin:auto;
    width: 300px;
    height:200px;
}