<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_interests").keyup(function(evt){
                if (evt.keyCode == 32) {
                    var data = $("#id_interests").val();
                    data += '#';
                    $("#id_interests").val(data);                
                }
            });
            $("#id_interests").click(function(evt){
                if ($("#id_interests").val() === ""){
                    $("#id_interests").val("#");
                }
            });
            $("#id_interests").focusout(function(evt){
                if ($("#id_interests").val().trim().slice(-1) === "#"){
                    var str = $("#id_interests").val().trim();
                    var data = str.substring(0, str.length - 1);
                    $("#id_interests").val(data);
                }
            });
            $('#id_interests').keypress(function(e){
                if(e.keyCode == 35 && $("#id_interests").val()!=""){
                    return false;
                }else if(e.keyCode == 32){
                    var str = $("#id_interests").val().trim();
                    if(str.slice(-1) === "#" || str.slice(-1) === " "){
                        return false;
                    }
                } else {
                }
            });
        });
    </script>
</head>
<body>
    {% extends 'home/home.html' %}
    {% block content %}
    <form enctype='multipart/form-data' method="POST" action="{% url 'edit_profile' %}">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row">
                <div class="col col-margin">
                    Profile Picture: {{ profile_form.image }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Username: {{ user.username }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Email: {{ user.email }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    First Name: {{ user_form.first_name }} *
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Last Name: {{ user_form.last_name }} *
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    ORCID: {{ profile_form.orcid }} {{ profile_form.orcid.help_text }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Interests: {{ profile_form.interests }} {{ profile_form.interests.help_text }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Subreddits: {{ profile_form.subreddits }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Affiliation: {{ profile_form.affiliation }} {{ profile_form.affiliation.help_text }}
                </div>
            </div>
             <div class="row">
                <div class="col col-margin">
                    Linked In: {{ profile_form.linked_in }} {{ profile_form.linked_in.help_text }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Gender: {{ profile_form.gender }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Birth Date: {{ profile_form.birth_date }} {{ profile_form.birth_date.help_text }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    About Me: {{ profile_form.about_me }} {{ profile_form.about_me.help_text }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Tweet Ammount: {{ profile_form.tweet_ammount }} {{ profile_form.tweet_ammount.help_text }}
                </div>
            </div>

            * -> Mandatory Fields
            <div class="row">
                <div class="col col-margin">
                    {% if not user.profile.reddit_token %}
                    Reddit: <a href="/reddit_auth">Login</a>
                    {% else %}
                    Reddit: <a href="/reset_reddit">Logout</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    <button type="submit" value="submit" class="lab-btn">Submit</button>
                </div>
            </div>
        </div>
    </form>
    {% endblock %}
</body>
</html>