{% extends "home/home.html" %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'user/profile/bookmarks.css' %}">
    </head>
    <body>
        <div class="container bookmarks-container">
            {% for bk in bookmarks %}
            <div class="row" style="margin-top: 20px;">
                <span>{{ bk.description }}</span>
            </div>
            <div class="row">
                <span>{{ bk.interests }}</span>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <a href="{{ bk.link }}">{{ bk.link }}</a>
            </div>
            {% endfor %}
        </div>
    </body>

{% endblock %}
