{% extends "home/home.html" %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'user/profile/tweet.css' %}">
    </head>
    <body>
        {% if bookmarks %}
            {% for bk in bookmarks %}
                <a href = {{ bk.link }}>
                    <div id="link">
                        {{bk.link}}
                    </div>
                </a>
                <div id= 'tweet'>
                        <p>{{ bk.description }}</p>
                </div>
                <div id='hashtags'>
                    {{ bk.interests }}
                </div>
            {% endfor %}
        {% endif %}
    </body>

{% endblock %}
