{% extends 'home/home.html' %}
{% block content %}
{% load static %}

<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="{% static 'user/profile/profile.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid" align="center">
            <div class="row">
                <div class="col col-margin">
                    {% if profile.image != '' %}
                    <a href="{% url 'profile' user.username %}"><img src="/media/{{ profile.image }}" width="64" class="avatar"></a>
                    {% else %}
                    <a href="{% url 'profile' user.username %}"><img src="{% static '/home/home/icons/profile.png' %}" width="64"></a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Username: {{ user.username }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Email: {{ user.email }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    ORCID: {{ user.profile.orcid }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    First Name: {{ user.first_name }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Last Name: {{ user.last_name }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Interests: {{ user.profile.interests }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Affiliation: {{ user.profile.affiliation }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Facebook: {{ user.profile.facebook }}
                </div>
            </div>
            <div class="row">
                <div class="col col-margin">
                    Linked In: {{ user.profile.linked_in }}
                </div>
            </div>
            <div class="row"> 
                <div class="col col-margin"> 
                    {% if request.user.username == user.username %} 
                        <a href="{% url 'edit_profile' %}" id="edit">Edit profile</a> 
                        <a href="{% url 'edit_profile' %}">Edit profile</a> 
                    {% endif %} 
                </div> 
            </div> 
        </div>
    </body>
</html>

{% endblock %}