{% extends 'home/home.html' %}
{% block content %}
{% load static %}

<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="{% static 'user/profile/profile.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container container_profile">
            <div class="row" id="leftE">
                <div class="col">
                    {% if profile.image != '' %}
                    <a href="{% url 'profile' user.username %}"><img src="/media/{{ profile.image }}" width="64" class="avatar"></a>
                    {% else %}
                    <a href="{% url 'profile' user.username %}"><img src="{% static '/home/home/icons/profile.png' %}" width="64"></a>
                    {% endif %}
                </div>

            </div>
            <div class="row" id="leftE">
                <div class="col-2">
                    <div class="row">
                        <b>Reasearch Interests:</b> <br>{{ interests }}
                    </div>
                    <div class="row" id="margin">
                        <b>SubReddits:</b> <br>{{ subreddits }}
                    </div>
                </div>

                <div class="col-1" id="line">
                    <div style="border-left:2px solid #000;height:800px;border-color: #3EC28F"></div>
                </div>

                <div class="col-5" id="info">

                    <div class="row">
                        <div>
                            <hr>
                        </div>
                        <div class="col">
                           <b> Username:</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ user.username }}
                        </div>
                    </div>
                    <div class="row" id="margin">
                        <div class="col">
                            <b>ORCID:</b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            {{ user.profile.orcid }}
                        </div>
                    </div>

                    <div class="row" id="margin">
                        <div class="col">
                            <b>Affiliation:</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ user.profile.affiliation }}
                        </div>
                    </div>

                     <div class="row" id="margin">
                        <div class="col">
                            <b>Research Group:</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ user.profile.research_group }}
                        </div>
                    </div>

                    <div class="row" id="margin">
                        <div class="col">
                           <b> Email:</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ user.email }}
                        </div>
                    </div>

                    <div class="row" id="margin">
                        <div class="col">
                           <b> Name:</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ user.first_name }} {{ user.last_name }}
                        </div>
                    </div>

                    <div class="row" id="margin">
                        <div class="col">
                            <b>Gender:</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ user.profile.gender }}
                        </div>
                    </div>
                    <div class="row" id="margin">
                        <div class="col">
                           <b> Birth Date:</b>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col">
                            {{ user.profile.birth_date }}
                        </div>
                    </div>
                    <div class="row" id="margin">
                        <div class="col">
                          <b>  About Me:</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ user.profile.about_me }}
                        </div>
                    </div>


                    <div class="row" id="margin">
                        <div class="col">
                          <b>Linked in:</b>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col">
                           <a href="{{ user.profile.linked_in }}" id="changeColor">{{ user.profile.linked_in}}</a>
                        </div>
                    </div>

                    <div class="row" id="margin">
                         <div class="col">
                           <b> Reddit:</b>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col">
                           <a href="{{ user.profile.reddit_account }}" id="changeColor">{{ user.profile.reddit_account }}</a>
                        </div>
                    </div>

                    <div class="row" id="margin">
                        <div class="col col-margin">
                           <b>Twitter:</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% if user.profile.tweet_access_token %}
                               <a href="{{ user.profile.twitter_account }}" id="changeColor">{{ user.profile.twitter_account }}</a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row" id="margin">
                        <div class="col col-margin">
                            <b>Tweet Ammount:</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                             {{ user.profile.tweet_ammount }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10"></div>
                <div class="col">
                    {% if request.user.username == user.username %}
                        <a href="{% url 'edit_profile' %}" id="changeColor">
                            <input id="resize" type="image" src="{% static 'home/home/icons/edit.png' %}">
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}