{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home/style.css' %}">
    </head>
    <body>
        <div id="header">
            {% if user.is_authenticated %}
            <p><a href="/"><img src="{% static 'home/a.png' %}" id="Icon"></a>
                <a href="{% url 'profile' %}">{{ user.username }}</a> 
                <a type="button" value="logout" href="/logout">Logout</a>
                <input type="search">
                <a href="{% url 'edit_profile' %}"><img src="{% static 'home/b.png' %}" id="Icon"></a>
                {% if profile.image != '' %}
                <img src="/media/{{ profile.image }}" width="24" align="right">
                {% endif %}
            </p>
            
            <!-- ICON DE NOTIFICACOES 
            <p><a href="/"><img src="{% static 'home/notification.png' %}" id="Notifications"></a>-->

            <!-- ICON DE MENSAGENS 
            <p><a href="/"><img src="{% static 'home/messages.png' %}" id="Messages"></a>-->
            {% endif %}

           
        </div>

        <main>
            {% block content %}
            
            {% endblock %}
        </main>
    </body>
</html>