{% extends "home/home.html" %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'news_feed/feed/tweet.css' %}">
    </head>
    <body>
        {% for tweets in args %}
            {% for tweet in tweets %}
            <div id= 'tweet'>
                <a href="https://twitter.com/{{tweet.user.name}}/status/{{tweet.id_str}}"> {{tweet.full_text}}</a>
                    {% if 'media' in tweet.entities %}
                        <img id="tweet_image" src={{tweet.extended_entities.media.0.media_url}} >
                    {% endif %}
            </div>
                <div id ="interval"></div>
            {% endfor %}
        {% endfor %}
    </body>

{% endblock %}
