<html>   
    <head></head>
    <body>
        {% if form.erros%}
        <p>There are errors on this form!</p>
        {%endif%}

        {%if next%}
        <p>no acess for u</p>
        {%endif%}

        <form method="post">
            {% csrf_token %}

            <p>Username: {{ form.username }}</p>
            <p>Password: {{ form.password }}</p>

            <p><input type="submit" value="login"></p>
            <a href="/">Home</a>
            <a href="{% url 'register' %}">Register</a>       
            <input type="hidden" name="next" value = "{{ next }}">
        </form>
    </body>
</html>

