{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home/home/home.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#p_tweet').submit(function() { // catch the form's submit event
        $.ajax({ // create an AJAX call...
            data: $(this).serialize(), // get the form data
            type: $(this).attr('method'), // GET or POST
            url: $(this).attr('action'), // the file to call
            success: function(response) { // on success..
                $('#success_div').html(response); // update the DIV
            },
            error: function(e, x, r) { // on error..
                $('#error_div').html(e); // update the DIV
            }
        });
        return false;
    });
});
</script>
        <script type="text/javascript">
$(document).ready(function() {
    $('#p_bookmark').submit(function() { // catch the form's submit event
        $.ajax({ // create an AJAX call...
            data: $(this).serialize(), // get the form data
            type: $(this).attr('method'), // GET or POST
            url: $(this).attr('action'), // the file to call
            success: function(response) { // on success..
                $('#success_div').html(response); // update the DIV
            },
            error: function(e, x, r) { // on error..
                $('#error_div').html(e); // update the DIV
            }
        });
        return false;
    });
});
</script>
    <script type="text/javascript">
      // i'm not proud of this code
      function hoverProfile(element) {
        element.setAttribute("src", "{% static 'home/home/icons/profile_hover.png' %}");
      }
      function unhoverProfile(element) {
        element.setAttribute("src", "{% static 'home/home/icons/profile.png' %}");
      }
      function hoverPost(element) {
        element.setAttribute("src", "{% static 'home/home/icons/post_hover.png' %}");
      }
      function unhoverPost(element) {
        element.setAttribute("src", "{% static 'home/home/icons/post.png' %}");
      }
      function hoverBookmarks(element) {
        element.setAttribute("src", "{% static 'home/home/icons/bookmarks_hover.png' %}");
      }
      function unhoverBookmarks(element) {
        element.setAttribute("src", "{% static 'home/home/icons/bookmarks.png' %}");
      }
      function hoverAddBookmark(element) {
        element.setAttribute("src", "{% static 'home/home/icons/add_bookmark_hover.png' %}");
      }
      function unhoverAddBookmark(element) {
        element.setAttribute("src", "{% static 'home/home/icons/add_bookmark.png' %}");
      }
      function hoverLogout(element) {
        element.setAttribute("src", "{% static 'home/home/icons/logout_hover.png' %}");
      }
      function unhoverLogout(element) {
        element.setAttribute("src", "{% static 'home/home/icons/logout.png' %}");
      }
    </script>
    </head>
    <body>
        <header class="container-fluid header" style="margin-bottom: 40px;">
            {% if user.is_authenticated %}
            <div class="row" align="center">
                <div class="col-1 my-auto">
                    <a href="/"><img src="{% static 'home/home/icons/logo.png' %}" class="logo"></a>
                </div>
                <div class="col-10 my-auto">
                    <div class="row" align="right">
                        <div class="col my-auto">
                            {% if request.user.profile.image != '' %}
                            <a href="{% url 'profile' request.user.username %}"><img src="/media/{{ profile.image }}" class="header_icon"></a>
                            {% else %}
                            <a href="{% url 'profile' request.user.username %}"><img src="{% static '/home/home/icons/profile.png' %}" class="header_icon" onmouseover="hoverProfile(this);" onmouseout="unhoverProfile(this);"></a>
                            {% endif %}
                        </div>
                        <div class="col-1 my-auto">
                            <img src="{% static 'home/home/icons/post.png' %}" data-toggle="modal" data-target="#post_tweet" class="header_icon" onmouseover="hoverPost(this);" onmouseout="unhoverPost(this);"/>
                        </div>
                        <div class="col-1 my-auto">
                           <a href="/bookmarks"> <input type="image" src="{% static 'home/home/icons/bookmarks.png' %}" class="header_icon" onmouseover="hoverBookmarks(this);" onmouseout="unhoverBookmarks(this);"/></a>
                        </div>
                         <div class="col-1 my-auto">
                             <input type="image" src="{% static 'home/home/icons/add_bookmark.png' %}" data-toggle="modal" data-target="#post_bookmark" class="header_icon" onmouseover="hoverAddBookmark(this);" onmouseout="unhoverAddBookmark(this);"/>
                        </div>
                        <div class="col-1 my-auto">
                            <a href="/logout"><img src="{% static 'home/home/icons/logout.png' %}" class="header_icon" onmouseover="hoverLogout(this);" onmouseout="unhoverLogout(this);"></a>
                        </div>
                    </div>
                    
                </div>
            </div>
            {% endif %}           
        </header>
        <div id="space"></div>

        <main>
            {% block content %}
            
            {% endblock %}
        </main>

<!-- Tweet Modal -->
<div class="modal fade" id="post_tweet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Tweet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          {% if request.user.profile.tweet_access_token != "" %}
              <form enctype='multipart/form-data' id = "p_tweet" method="POST" action="{% url 'post_tweet' %}">
                    {% csrf_token %}
                    <div>Text : {{ tweet_form.text }}  {{ tweet_form.text.help_text }}</div>

                    <div>Image : {{ tweet_form.image }}  </div>
                    <button type="submit" value="submit"> Submit </button>
              </form>
          {% else %}
                Twitter Account Association Needed
          {% endif %}


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Bookmark Modal -->
<div class="modal fade" id="post_bookmark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Bookmark</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form id = "p_bookmark" method="POST" action="{% url 'new_bookmark' %}">
            {% csrf_token %}
            <div>Link : {{ bookmark_form.link }} </div>

            <div>Description : {{ bookmark_form.description }} Max: 100 chars </div>
            <div>Hashtags : {{ bookmark_form.interests }} </div>
            <button type="submit">Create</button>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    </body>
</html>