{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home/home/home.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="container-fluid header" style="margin-bottom: 40px;">
            {% if user.is_authenticated %}
            <div class="row" align="center">
                <div class="col-1 my-auto">
                    <a href="/"><img src="{% static 'home/home/icons/logo.png' %}" class="icon"></a>
                </div>
                <div class="col-1 my-auto">
                    {% if profile.image != '' %}
                        <a href="{% url 'profile' request.user.username %}" value="{{request.user.username}}"><img src="/media/{{ profile.image }}" width="24"></a>
                    {% else %}
                        <a href="{% url 'profile' request.user.username %}" value="{{request.user.username}}"><img src="{% static '/home/home/icons/profile.png' %}" class="icon"></a>
                    {% endif %}
                </div>
                <div class="col-1 my-auto">
                    <a href=""><img src="{% static 'home/home/icons/notification.png' %}" class="icon"></a>
                </div>
                <div class="col-1 my-auto">
                    <a href="{% url 'edit_profile' %}"><img src="{% static 'home/home/icons/settings.png' %}" class="icon"></a>
                </div>
                <div class="col-3 my-auto">
                    <input type="search" placeholder="Search..." class="form-control">
                </div>
                <div class="col-3 my-auto">
                    <span>Welcome: <strong>{{ request.user.username }}</strong></span>
                </div>
                <div class="col-2 my-auto">
                    <a value="logout" href="/logout"><button class="lab-btn-dark">Logout</button></a>
                </div>
            </div>
            {% endif %}           
        </header>
        <div id="space"></div>

        <main>
            {% block content %}
            
            {% endblock %}
        </main>
    </body>
</html>