body {
    background-color: #f5f5f5 !important;
}
.lab-btn {
    background-color: #3ec290;
    color: #747474 !important;
    border-style: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    max-width: 256px;
    width: 100%;
    margin-bottom: 10px;
}
.lab-btn:hover {
    -webkit-animation-name: color-effect;
    -webkit-animation-duration: 1.0s;
    animation-name: color-effect;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes color-effect{
    from{background-color: #3ec290; color: #747474;} 
    to{background-color: #ddf4e1; color: #4fc798;}
}
@keyframes color-effect{
    from{background-color: #3ec290; color: #747474;} 
    to{background-color: #ddf4e1; color: #4fc798;}
}
.lab-btn:focus {
    outline : 0;
    -moz-outline : 0;
    border : 0;
}

header{
    background-color: #BCFBBA;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top:0;
    margin-left: 0;
    z-index:1;
}
main {
    margin-top: 30px;

}
.lab-btn-dark:focus {
    outline : 0;
    -moz-outline : 0;
    border : 0;
}

.col-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}
#space{
    height:50px;
}
.logo {
    width: 32px;
}
#Post{
    background-color: white;
    margin:auto;
    border: 3px solid #73AD21;    
    width: 400px;
    height: 150px;
    position:relative;
    z-index:2;
}
.header_icon{
    height: 35px;
    width: 35px;
}