header{
    background-color: #BCFBBA;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top:0;
    margin-left: 0;
}
main {
    margin-top: 30px;
}
.lab-btn-dark {
    background-color: #009740;
    color: white;
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 150px;
    cursor: pointer;
    font-weight: bold;
}
.lab-btn-dark:hover {
    -webkit-animation-name: color-effect;
    -webkit-animation-duration: 2.5s;
    animation-name: color-effect;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes color-effect{
    from{background-color: #009740;} 
    to{background-color: #00A648;}
}
@keyframes color-effect{
    from{background-color: #009740;} 
    to{background-color: #00A648;}
}
.lab-btn-dark:focus {
    outline : 0;
    -moz-outline : 0;
    border : 0;
}
.lab-btn {
    background-color: #93C020;
    color: white;
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 150px;
    cursor: pointer;
    font-weight: bold;
}
.lab-btn:hover {
    -webkit-animation-name: color-effect;
    -webkit-animation-duration: 2.5s;
    animation-name: color-effect;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes color-effect{
    from{background-color: #93C020;} 
    to{background-color: #98CA22;}
}
@keyframes color-effect{
    from{background-color: #93C020;} 
    to{background-color: #98CA22;}
}
.lab-btn:focus {
    outline : 0;
    -moz-outline : 0;
    border : 0;
}
.col-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}
#space{
    height:50px;
}
.icon {
    height: 24px;
    width:  24px;
    /* border-style: dotted; */
}
.logo {
    width: 32px;
}
#Post{
    background-color: white;
    margin:auto;
    border: 3px solid #73AD21;    
    width: 400;
    height: 150;
}
