#header{
    background-color: darkseagreen;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#icon{
    height: 20px;
    width:  20px;
}

body {
    background-color: darkseagreen;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}