{% extends 'home/home.html' %}
{% block content %}

    <!-- 
        ->Display form 
        ->Option to change password
        ->Option to change other stuff all at once
    -->
    <div>
        <p> Username:   {{user.username}}</p>
        <p> First Name: {{user.first_name}}</p>
        <p> Last Name:  {{user.last_name}}</p>
        <p> Email:      {{user.email}}</p>
        <p>password:    **********</p>
    </div>
    <a href="">Change Password</a>
    <a href="">Change information</a>

{% endblock %}