{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static '/user/registration/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script type="text/javascript">
            function load() {
                var username_input = document.getElementById("id_username");
                username_input.placeholder = "Username";
                username_input.classList.add("lab-input");
                var password_input = document.getElementById("id_password");
                password_input.placeholder = "Password";
                password_input.classList.add("lab-input");
            }
        </script>
    </head>
    <body onload="load()">
        <div class="container full-height" align="center">
            <div class="row full-height">
                <div class="col-6 my-auto">
                    <div class="row">
                        <div class="col">
                            <a href="/"><img src="{% static 'home/home/icons/logo.png' %}" class="logo"></a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
                        <div class="col">
                            <h2>Welcome back!</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span>To keep connected with us please login.</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 my-auto">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.password }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="margin-top: 5px; margin-bottom: 30px;">
                                <a href="{% url 'password_reset' %}" style="font-size: 12px;">Forgot your password?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input class="lab-btn" type="submit" value="Login">
                            </div>
                        </div>
                        <input type="hidden" name="next" value = "{{ next }}">
                    </form>
                    <div class="row">
                        <div class="col">
                            <span style="color: #3ec290;">Don't have an account? <a href="{% url 'register' %}"><b>Sign up</b></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </body>
</html>

