<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>Password Recovery</title>
    <link rel="stylesheet" href="{% static '/user/registration/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function load() {
            var email_input = document.getElementById("id_email");
            email_input.placeholder = "Email";
            email_input.classList.add("lab-input");
        }
    </script>
</head>
<body onload="load()">
    <div class="container full-height" align="center">
        <div class="row full-height">
            <div class="col-6 my-auto">
                <div class="row">
                    <div class="col">
                        <a href="/"><img src="{% static 'home/home/icons/logo.png' %}" class="logo"></a>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
                    <div class="col">
                        <h2>Forgot your password?</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span>Enter your email address and we will send you a link to reset your password.</span>
                    </div>
                </div>
            </div>
            <div class="col-6 my-auto">
                <form method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                    {% for field in form %}
                    <div class="row">
                        <div class="col">
                        {{ field }}
                        </div>
                    </div>
                    {% if field.errors %}
                    <div class="row">
                        <div class="col">
                        {{ field.errors }}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="row" style="margin-top: 30px;" align="center">
                        <div class="col" align="right">
                            <a href="{% url 'login' %}"><button class="lab-btn" type="button" style="max-width: 128px;">Cancel</button></a>
                        </div>
                        <div class="col" align="left">
                            <button id="submit" type="submit" class="lab-btn" style="max-width: 150px;" data-toggle="modal" data-target="#reset-done">Send email</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>