<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Password reset</title>
	<link rel="stylesheet" href="{% static '/user/registration/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container full-height" align="center">
	    <div class="row full-height">
	        <div class="col my-auto">
	            <div class="row">
	                <div class="col">
	                    <a href="/"><img src="{% static 'home/home/icons/logo.png' %}" class="logo"></a>
	                </div>
	            </div>
	            <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
	                <div class="col">
	                    <h2>Password reset</h2>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col">
	                    <p>Your password has been set. You may go ahead and <a href="{% url 'login' %}">login</a> now.</p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>