{% load static %}

{% block content %}
<html>
  <head>
   <link rel="stylesheet" href="{% static 'news_feed/feed/tweet.css' %}">
  </head>
  <body>
      <form method="post" action="{% url 'new_interest_user' %}">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}<br>
            {{ field }}
            <!-- {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %} -->
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <button type="submit">Create</button>
        </form>
  </body>
</html>
{% endblock %}